<main class="container">
  <section class="row">
    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <h1>{{ nome }}</h1>
            <mat-icon class="icone-card" aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Idade: {{ idade }}</p>
          <p>Altura: {{ altura }}</p>
          <p>Peso: {{ peso }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-9">
      <section class="row">
        <app-card-meta class="col-lg-6 p-4" [desc]="'Calorias Diarias'" [cor]="'#63B83F'"></app-card-meta>
        <app-card-meta class="col-lg-6 p-4" [desc]="'Calorias Semanais'" [cor]="'#63B83F'"></app-card-meta>
        <app-card-meta class="col-lg-6 p-4" [desc]="'Água Diaria'" [cor]="'#38B6FF'"></app-card-meta>
        <app-card-meta class="col-lg-6 p-4" [desc]="'Água Semanal'" [cor]="'#38B6FF'"></app-card-meta>
        <app-card-meta class="col-lg-6 p-4" [desc]="'Excercicios semanais'" [cor]="'#FFDE59'"></app-card-meta>
      </section>
    </div>
  </section>











<!--
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <h1>{{ nome }}</h1>
        <mat-icon class="icone-card" aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>Idade: {{ idade }}</p>
      <p>Altura: {{ altura }}</p>
      <p>Peso: {{ peso }}</p>
    </mat-card-content>
  </mat-card>

  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <app-card-meta></app-card-meta>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card-meta></app-card-meta>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card-meta></app-card-meta>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card-meta></app-card-meta>
    </mat-grid-tile>
  </mat-grid-list>
-->
</main>
