<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Saúde Mental</h1>
  </header>
  <main>
    <section>
      <h2>Lembre-se</h2>
      <p>Assim como cuidamos do nosso corpo com a ajuda de médicos e profissionais de saúde, é fundamental buscar apoio
        de um <b>profissional capacitado</b> para cuidar da nossa <b>saúde mental</b> e emocional
      </p>
    </section>

    <section>
      <h2>Por que cuidar da sua Saúde Mental?</h2>
      <p>Cuidar da saúde mental é fundamental para garantir uma vida <b>equilibrada e saudável.</b> A saúde mental
        abrange o
        nosso bem-estar emocional, psicológico e social, afetando diretamente a forma como lidamos com as situações do
        <b>dia a dia.</b> Quando negligenciamos essa área, podemos desenvolver <b>problemas</b> como ansiedade,
        depressão, estresse,
        insônia, entre outros.
      </p>
    </section>
    <section>
      <h2>Como cuidar da sua Saúde Mental?</h2>
      <p>Cuidar da saúde mental envolve uma série de ações <b>simples</b> e eficazes, como praticar atividades físicas
        regularmente, manter uma alimentação saudável, estabelecer uma rotina de sono adequada, meditar ou praticar
        técnicas de relaxamento, manter contato social com amigos e familiares e buscar ajuda profissional quando
        necessário. <b>Pequenas</b> mudanças no dia a dia podem fazer grande diferença para o bem-estar emocional e
        psicológico.</p>
    </section>
    <section>
      <h2>Comece Agora:</h2>

      <a href="https://youtu.be/C-UXvNq7-PI">Vamos falar sobre transtornos mentais?</a>
      <br>
      <a href="https://youtu.be/CrwRwgNJIMU">O que eu posso fazer agora?</a>
      <p></p>
    </section>
  </main>
</body>