<main class="bg-dark">
  <h1 class="text-white">BETTER HEALTH</h1>
  <ul class="nav mb-5 justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="pagina-pessoal">Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pagina-alimentacao">Alimentação</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pagina-exercicios">Exercicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pagina-saude">Saude Mental</a>
    </li>
  </ul>

  <section>
    <router-outlet></router-outlet>
  </section>

</main>


