<section class="section__login">
    <section class="section__login__info bg-dark">
        <div class="section__login__info__div">
            <h1 class="text-light ms-4">BEGINNER</h1>
            <h1 class="text-warning ms-5">WORKOUT</h1>
            <i class="text-light">Don't sweat it! Our daily workout classes are designed to get your heart rate up,
                 burn calories and make you feel great.</i>
        </div>
        <div class="desenho desenho__1"></div>
        <div class="desenho desenho__2"></div>
    </section>
    <section class="section__login__form">
        <div class="section__login__form__header bg-secondary text-light text-center align-middle">
            <h2>Criar nova conta</h2>
            <a routerLink="Cadastro">Cadastrar conta</a>
            <br>
            <a routerLink="Login">Entrar</a>
        </div>
        <router-outlet></router-outlet>
    </section>
</section>
